## Environment Properties

minecraft_version={{ minecraft_version }}
minecraft_version_range={{ minecraft_version_range }}
forge_version={{ forge_version }}
forge_version_range=[{{ forge_version_mayor }},)
loader_version_range=[{{ forge_version_mayor }},)
mapping_channel=official
mapping_version={{ minecraft_version }}
forge_gradle_version={{ forge_gradle }}
use_reobf={{ reobf }}