## Gradle Settings

org.gradle.jvmargs=-Xmx3G
org.gradle.daemon=false
org.gradle.parallel=true
org.gradle.caching=true

## Mod Properties

mod_id={{ mod_id }}
mod_name={{ mod_name }}
mod_license=All Rights Reserved
mod_version=1.0.0
mod_release_type=Alpha
mod_url=https://www.wipodev.com
mod_group_id={{ package_name }}
mod_logo=logo.png
mod_authors={{ mod_authors }}
mod_description={{ mod_name }} description.\nNewline characters can be used and will be replaced properly.