pluginManagement {
    repositories {
	      mavenCentral()
        gradlePluginPortal()
        maven {
            name = 'MinecraftForge'
            url = 'https://maven.minecraftforge.net/'
        }
    }
}

plugins {
    id 'org.gradle.toolchains.foojay-resolver-convention' version '0.10.0'
}

rootProject.name = "{{ mod_name }}"

def userHome = System.getProperty("user.home")
def evermodDir = file("${userHome}/.evermod/source")

include("EverMod")
project(":EverMod").projectDir = evermodDir

file('projects').eachDir { dir ->
    if (new File(dir, 'build.gradle').exists()) {
        include "projects:${dir.name}"
    }
}